

body{
    background-color: rgb(148, 238, 208);
    margin: 0;
    padding: 0;
}

.nav{
    height: 50px;
    padding: 5px;
    margin-right: 20px;
    max-width: 100%;
}

.login a{
    text-decoration: none;
    color: black;
    float: right;
    padding: 10px;
}

.welcome{
    font-size: 20px;
    padding: 10px;
    margin-left: 20px;
    font-weight: bold;
    font-family: "Familjen Grotesk", sans-serif;
    color: rgba(28, 91, 208, 0.961);

}

.sub-header{
    color: rgba(28, 91, 208, 0.961);

    font-family: "Familjen Grotesk", sans-serif;
    margin: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

.sub-header h1{
    font-size: 50px;
}

.header{
    height: 100vh;
    width: 100%;
}

.header img{
    height: auto;
    width: 100%;
    padding-top: 3%;
}

.yapping{
    margin-top: 2%;
    font-size: 15px;
}

.yapping p{
    padding: 0;
    margin: 0;
}

.join button{
    float: right;
    background-color: #d9edff;
    border-radius: 50px;
    height: 50px;
    color: rgba(28, 91, 208, 0.961);
    border: 2px solid #008CBA;
}

.join button:hover{
    background-color: black;
    color: white;
    transition: .3s;
}

.one{
    height: 100vh;
    width: 100%;
    font-family: "Familjen Grotesk", sans-serif;
}

.sub-one{
    margin: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

.sub-one h2{
    font-size: 50px;
    font-family: "Familjen Grotesk", sans-serif;
    color: rgba(28, 91, 208, 0.961);
}

.sub-one hr{
    height: 5px !important;
    color: rgba(28, 91, 208, 0.961);
    opacity: 1 !important;
}

.two{
    height: 100vh;
    width: 100%;
    font-family: "Familjen Grotesk", sans-serif;
}

.sub-two{
    margin: 3%;
    margin-left: 5%;
    margin-right: 5%;
}




